<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <% if @user.avatar.attached? %>
          <%= link_to image_tag(@user.avatar, width:'50px',hight:"40px"), profile_path(current_user.username) if current_user.avatar.attached? %>
        <%end %>
      </div>
    </div>
    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <div class="username"><%= @user.username %></div><%= render "follow" %>
        <% if @user == current_user %>
          <%= link_to 'Edit', edit_user_registration_path, class:"edit-profile button" if can_edit_profile(@user.id) %>
        <% end %>
      </div>
      <ul class="posts">
        <li>
          <span>
            <%= @user.posts.count %></span>
          posts</li>
        <li>
          <span>
            <%= @user.followers.count %></span><%=  link_to "followers", followers_path(@user.username), class:"text-dark"  %></li>
        <li>
          <span>
            <%= @user.followings.count %></span><%=  link_to "followings", following_path(@user.username), class:"text-dark"  %></li>
      </ul>
      <h2 class="name"><%=@user.full_name %></h2>
      <%= simple_format @user.bio %>
    </div>
  </div>
  <div class="user-images">
    <% @posts.each do |post|%>
      <div class="wrapper">
        <%=link_to post_path(post) do %>
        <%=image_tag post.thumbnail %>
      <% end %>
    </div>
  <% end %>
</div>
</div>
